@using System.Web.Optimization
@using nieruchomości.Helpers
@model Models.ViewModels.ShowLand

@{
    ViewBag.Title = "ShowFlat";
}
<div class="col-md-12">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 short-advert-label">
                        Do sprzedania
                    </div>
                    <div class="col-md-9 short-advert-title">
                        Dom, @Model.City, @Model.Area m<sup>2</sup>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 short-advert-body">
                        <div class="col-md-3" style="padding: 0; padding-right: 15px">
                            <div class="short-advert-photo">
                                @if (Model.Pictures != null && Model.Pictures.Any())
                                {
                                    <a class="fancybox" rel="gallery1" href="/Content/Photos/@Model.Pictures[0].Link">
                                        <img src="/Content/Photos/@Model.Pictures[0].Min" width="100%" style="border: 1px solid white" />
                                    </a>
                                }
                                else
                                {
                                    <img src="/Content/img/brakzdjecia.png" width="100%" />
                                }
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="short-advert-price">
                                <span class="pln">@Model.Price</span> PLN <small class="price">
                                    (<span class="pln">@(Model.Price/Model.Area)</span>
                                    zł/m<sup>2</sup>)
                                </small>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="short-advert-description">
                                        @Model.Description
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 advert-properties">
                                    <div class="row">
                                        <div class="col-md-5">
                                            Lokalizacja:
                                        </div>
                                        <div class="col-md-7">
                                            @if (!String.IsNullOrEmpty(Model.Location))
                                            {
                                                @String.Format("{0} - {1}", Model.City, Model.Location)
                                            }
                                            else
                                            {
                                                @String.Format("{0}", Model.City)
                                            }

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">Powierzchnia całkowita:</div>
                                        <div class="col-md-7">
                                            <b>@Model.Area</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">Forma własności:</div>
                                        <div class="col-md-7">
                                            @Model.Ownership
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 short-advert-description" style="margin-top: 10px;">
                                @Model.Details
                            </div>
                        </div>

                        <div class="row" style="margin-top: 20px; font-size: large;">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-map-marker" style="margin-right: 10px;"></span>
                                <b>Zobacz na mapie</b> <small style="font-size: 65%">(mapa wskazuje tylko lokalizację, aktyalny stan pokazuje galeria pod mapą)</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="height: 200px; width: 100%; border: 1px solid white">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>


                        @if (Model.Pictures != null && Model.Pictures.Any())
                        {
                            <div class="row" style="margin-top: 20px; font-size: large;">
                                <div class="col-md-12">
                                    <span class="glyphicon glyphicon-camera" style="margin-right: 10px;"></span>
                                    <b>Galeria zdjęć</b> <small style="font-size: 65%">(kliknij na wybranym zdjęciu aby je powiększyć)</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @foreach (var photo in Model.Pictures)
                                    {
                                        <div class="col-md-3">
                                            <a class="fancybox" rel="gallery1" href="/Content/Photos/@photo.Link">
                                                <img src="/Content/Photos/@photo.Min" width="100%" style="border:1px solid white" />
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.Worker != null)
                        {
                            <div class="row" style="margin-top: 20px; font-size: large;">
                                <div class="col-md-12">
                                    <span class="glyphicon glyphicon-user" style="margin-right: 10px;"></span>
                                    <b>Zapytaj o tą nieruchomość</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    @{Html.RenderPartial("_ContactForm", Model.ContactEmail);}
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 short-advert-social">
                        <div class="row">
                            Okazja? przekaż dalej!
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3" style="padding:0">
                                    <img src="/Content/img/icons/social-31-facebook.png" />
                                </div>
                                <div class="col-md-3" style="padding:0">
                                    <img src="/Content/img/icons/social-32-twitter.png" />
                                </div>
                                <div class="col-md-3" style="padding:0">
                                    <img src="/Content/img/icons/social-3-google-plus.png" />
                                </div>
                                <div class="col-md-3" style="padding:0">
                                    <img src="/Content/img/icons/social-40-e-mail.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="short-advert-number">Numer oferty: <b>@Model.Number</b></div>
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <div class="short-advert-date">Data dodania: <b>@Model.CreatedAt.ToShortDateString()</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANJktXHK4ntWky3gGMSpM-7AvJeTYxHFk">
</script>
<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: { lat: 50.905507, lng: 15.733918 },
            zoom: 14
        };
        var map = new google.maps.Map($("#map")[0], mapOptions);

        var marker = new google.maps.Marker({
            position: { lat: 50.905507, lng: 15.733918 },
            map: map,
            title: 'Do zmiany'
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);


    $(document).ready(function () {

        /* This is basic - uses default settings */

        $("a#single_image").fancybox();

        /* Using custom settings */

        $("a#inline").fancybox({
            'hideOnContentClick': true
        });

        /* Apply fancybox to multiple items */

        $("a.group").fancybox({
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': false
        });

    });
</script>