@using System.Web.Optimization
@using nieruchomości.Helpers
@model Models.ViewModels.ShowFlat

@{
    ViewBag.Title = "ShowFlat";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 short-advert-label">
                        @(Model.ToLet ? "Do wynajęcia" : "Do sprzedania")
                    </div>
                    <div class="col-md-9 short-advert-title">
                        Mieszkanie, @Model.City, @Model.Area m<sup>2</sup>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 short-advert-body">
                        <div class="col-md-3" style="padding: 0; padding-right: 15px">
                            <div class="short-advert-photo">
                                @if (Model.Pictures != null && Model.Pictures.Any())
                                {
                                    <a class="fancybox" rel="gallery1" href="/Content/Photos/@Model.Pictures[0].Link">
                                        <img src="/Content/Photos/@Model.Pictures[0].Min" width="100%" style="border: 1px solid white"/>
                                    </a>
                                }
                                else
                                {
                                    <img src="/Content/img/brakzdjecia.png" width="100%"/>
                                }
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="short-advert-price">
                                <span class="pln">@Model.Price</span> PLN <small class="price">
                                    (<span class="pln">@(Model.Price/Model.Area)</span>
                                    zł/m<sup>2</sup>)
                                </small>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="short-advert-description">
                                        @Model.Description
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 advert-properties">
                                    <div class="row">
                                        <div class="col-md-5">
                                            Lokalizacja:
                                        </div>
                                        <div class="col-md-7">
                                            @if (!String.IsNullOrEmpty(Model.Location))
                                            {
                                                @String.Format("{0} - {1}", Model.City, Model.Location)
                                            }
                                            else
                                            {
                                                @String.Format("{0}", Model.City)
                                            }

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">Liczba pokoi:</div>
                                        <div class="col-md-7"><b>@Model.Rooms</b> o łącznej powierzchni <b>@Model.Area m<sup>2</sup></b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">Kondygnacja:</div>
                                        <div class="col-md-7">
                                            @Model.Storey
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">Stan techniczny:</div>
                                        <div class="col-md-7">
                                            @Model.TechnicalCondition
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">Ogrzewanie:</div>
                                        <div class="col-md-7">
                                            @Model.Heating
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">Forma własności:</div>
                                        <div class="col-md-7">
                                            @Model.Ownership
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5"><b>Czynsz:</b>
                                        </div>
                                        <div class="col-md-7">
                                            <b><span class="pln">@Model.Rent</span> zł</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 short-advert-description" style="margin-top: 10px;">
                                @Model.Details
                            </div>
                        </div>
                        @if (Model.Cords != null && Model.Cords.Lat != 0.0 && Model.Cords.Lat != 0.0)
                        {
                            Html.RenderPartial("_Map", Model.Cords);
                        }

                        @if (Model.Pictures != null && Model.Pictures.Any())
                        {
                            Html.RenderPartial("_Gallery", Model.Pictures);
                        }
                        @{
                            Html.RenderPartial("_Ask", Model.ContactEmail);
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 short-advert-social">
                        <div class="row">
                            Okazja? przekaż dalej!
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3" style="padding:0">
                                    <img src="/Content/img/icons/social-31-facebook.png" />
                                </div>
                                <div class="col-md-3" style="padding:0">
                                    <img src="/Content/img/icons/social-32-twitter.png" />
                                </div>
                                <div class="col-md-3" style="padding:0">
                                    <img src="/Content/img/icons/social-3-google-plus.png" />
                                </div>
                                <div class="col-md-3" style="padding:0">
                                    <img src="/Content/img/icons/social-40-e-mail.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="short-advert-number">Numer oferty: <b>@Model.Number</b></div>
                            </div>
                            <div class="col-md-6" style="text-align: right">
                                <div class="short-advert-date">Data dodania: <b>@Model.CreatedAt.ToShortDateString()</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });
        });

</script>