@model Models.ViewModels.CreateOffer
@using Microsoft.Ajax.Utilities
<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-left-panel" style="margin-left: 15px">
        <h4>Podsumowanie oferty</h4>
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Dane klienta
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row" style="margin-bottom: 10px">
                                    <div class="col-md-6">
                                        <small>Imię i nazwisko:</small><br/>
                                        @String.Format("{0}", (Model.FullName.IsNullOrWhiteSpace()) ? "---" : Model.FullName)
                                    </div>
                                    <div class="col-md-6">
                                        <small>Email:</small><br/>
                                        @String.Format("{0}", (Model.Email.IsNullOrWhiteSpace()) ? "---" : Model.Email)
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px">
                                    <div class="col-md-6">
                                        <small>Numer telefonu:</small><br/>
                                        @String.Format("{0}", (Model.PhoneNumber.IsNullOrWhiteSpace()) ? "---" : Model.PhoneNumber)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Informacje podstawowe
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row" style="margin-bottom: 10px">
                                    <div class="col-md-6">
                                        <small>Cena:</small><br/>
                                        @String.Format("{0}", (Model.Price.IsNullOrWhiteSpace()) ? "---" : Model.Price)
                                    </div>
                                    <div class="col-md-6">
                                        <small>Nieruchomość:</small><br/>
                                        @Model.AdType
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 10px">
                                    <div class="col-md-6">
                                        <small>Miasto:</small><br/>
                                        @String.Format("{0}", (Model.City.IsNullOrWhiteSpace()) ? "---" : Model.City)
                                    </div>
                                    <div class="col-md-6">
                                        <small>Lokalizacja:</small><br/>
                                        @String.Format("{0}", (Model.Location.IsNullOrWhiteSpace()) ? "---" : Model.Location)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Opis
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row" style="margin-bottom: 10px">
                                    <div class="col-md-12">
                                        @String.Format("{0}", (Model.Description.IsNullOrWhiteSpace()) ? "---" : Model.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
