@model Models.ViewModels.CreateOffer

@{
    ViewBag.Title = "View";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 short-advert-label">
                        Dodaj ofertę
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 short-advert-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p style="font-size:12px">
                                    Drogi Marszałku, Wysoka Izbo. PKB rośnie. Z drugiej strony, skoordynowanie pracy obu urzędów umożliwia w określaniu dalszych poczynań. Nie zapominajmy jednak, że utworzenie komisji śledczej do przeanalizowania form oddziaływania. Do tej sprawy pomaga w tym zakresie rozszerza nam horyzonty kolejnych kroków w określaniu modelu rozwoju. Nie chcę państwu niczego sugerować.
                                </p>
                            </div>
                            <div class="col-md-4">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("CreateOffer", "Home"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row" style="font-size: large;">
                                        <div class="col-md-12">
                                            <span class="glyphicon glyphicon-user" style="margin-right: 10px;"></span>
                                            <b>Dane personalne</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">@Html.ValidationMessageFor(x => x.FullName, "", new {@class = "error-feedback"})</div>
                                        <div class="col-md-4">@Html.ValidationMessageFor(x => x.Email, "", new {@class = "error-feedback"})</div>
                                        <div class="col-md-4">@Html.ValidationMessageFor(x => x.PhoneNumber, "", new {@class = "error-feedback"})</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">@Html.TextBoxFor(x => x.FullName, new {@class = "contact-form-input", @style = "height:25px;", @placeholder = "Twoje imię i nazwisko"})</div>
                                        <div class="col-md-4">@Html.TextBoxFor(x => x.PhoneNumber, new {@class = "contact-form-input", @style = "height:25px;", @placeholder = "Twój numer telefonu"})</div>
                                        <div class="col-md-4">@Html.TextBoxFor(x => x.Email, new {@class = "contact-form-input", @style = "height:25px;", @placeholder = "Twój adres e-mail"})</div>
                                    </div>

                                    <div class="row" style="font-size: large; margin-top: 10px">
                                        <div class="col-md-12">
                                            <span class="glyphicon glyphicon-home" style="margin-right: 10px;"></span>
                                            <b>Informacje o nieruchomości</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">@Html.ValidationMessageFor(x => x.Price, "", new {@class = "error-feedback"})</div>
                                        <div class="col-md-4">@Html.ValidationMessageFor(x => x.City, "", new {@class = "error-feedback"})</div>
                                        <div class="col-md-4">@Html.ValidationMessageFor(x => x.Location, "", new {@class = "error-feedback"})</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">@Html.TextBoxFor(x => x.Price, new {@class = "contact-form-input", @style = "height:25px;", @placeholder = "Cena"})</div>
                                        <div class="col-md-4">@Html.TextBoxFor(x => x.City, new {@class = "contact-form-input", @style = "height:25px;", @placeholder = "Miasto"})</div>
                                        <div class="col-md-4">@Html.TextBoxFor(x => x.Location, new {@class = "contact-form-input", @style = "height:25px;", @placeholder = "Lokalizacja"})</div>
                                    </div>

                                    <div class="row" style="margin-top: 10px">
                                        <div class="col-md-4">@Html.ValidationMessageFor(x => x.AdType, "", new {@class = "error-feedback"})</div>
                                        <div class="col-md-8">@Html.ValidationMessageFor(x => x.Description, "", new {@class = "error-feedback"})</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.EnumDropDownListFor(x => x.AdType, new {@class = "contact-form-input", @style = "height:25px;", @placeholder = "Typ nieruchomości"})
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-md-12">
                                                    <button type="submit" class="menu-item-button" style="width: 100%; height: 40px; background-color: #B71C1C">Wyślij zapytanie</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">@Html.TextAreaFor(x => x.Description, new {@class = "contact-form-input", @style = "height:100px;", @placeholder = "Opis nieruchomości"})</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>