@using nieruchomości.Helpers
@using PagedList.Mvc
@model Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "View";
}
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="about-us">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="akapit">
                            Tytuł akapitu
                        </h4>
                        <p class="akapit">
                            Litwo! Ojczyzno moja! Ty jesteś jak zdrowie. Ile cię trzeba cenić, ten odwiązywać, składać. Właśnie rzecz kończył: Wyczha! poszli, a starzy i wionęła ogrodem przez okno, świecąca nagła, cicha i z całej psiarni dwa tysiące jako w tej komnacie mieszkanie kobiéce? Któż by tu mieszkał? Stary żołnierz, stał dwór szlachecki, z rąk strzelby, którą powinna młodź dla płatnych sług swoich, a Pan świata wie, jak pieniądze Żydzi.
                        </p>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 searcher-label">
                        Szukaj oferty:
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 searcher">
                        @using (Html.BeginForm("Index", "Home",FormMethod.Get))
                    {

                            <div class="row">
                                <div class="col-md-4" style="padding-right: 5px">
                                    @Html.DropDownList("AdType", new SelectList(Model.IndexFilterOptions.AdTypes, "Value", "Text"), new {@class = "menu-item-input", @id = "AdType"})
                                </div>
                                <div class="col-md-4" style="padding-right: 5px">
                                    @Html.DropDownList("ToLet", new SelectList(Model.IndexFilterOptions.ToLet, "Value", "Text"), new {@class = "menu-item-input"})
                                </div>
                                <div class="col-md-4" style="padding-right: 5px">
                                    @Html.DropDownList("SortOptions", new SelectList(Model.IndexFilterOptions.SortOptions, "Value", "Text"), new {@class = "menu-item-input"})
                                </div>
                            </div>
                            <div class="flatOptions" hidden>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-md-4" style="padding-right: 5px">
                                        @Html.DropDownList("FlatCities", new SelectList(Model.IndexFilterOptions.FlatCities, "Value", "Text"), new {@class = "menu-item-input"})
                                    </div>
                                    <div class="col-md-4" style="padding-right: 5px">
                                        @Html.DropDownList("Rooms", new SelectList(Model.IndexFilterOptions.Rooms, "Value", "Text"), new {@class = "menu-item-input"})
                                    </div>
                                    <div class="col-md-4" style="padding-right: 5px">
                                        <button class="menu-item-button">Wyczyść filtry</button>
                                    </div>
                                </div>
                            </div>

                            <div class="houseOptions" hidden>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-md-4" style="padding-right: 5px">
                                        @Html.DropDownList("HouseCities", new SelectList(Model.IndexFilterOptions.HouseCities, "Value", "Text"), new {@class = "menu-item-input"})
                                    </div>
                                    <div class="col-md-4" style="padding-right: 5px"></div>
                                    <div class="col-md-4" style="padding-right: 5px">
                                        <button class="menu-item-button">Wyczyść filtry</button>
                                    </div>
                                </div>
                            </div>

                            <div class="landOptions" hidden>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-md-4" style="padding-right: 5px">
                                        @Html.DropDownList("LandCities", new SelectList(Model.IndexFilterOptions.LandCities, "Value", "Text"), new {@class = "menu-item-input"})
                                    </div>
                                    <div class="col-md-4" style="padding-right: 5px"></div>
                                    <div class="col-md-4" style="padding-right: 5px">
                                        <button class="menu-item-button">Wyczyść filtry</button>
                                    </div>
                                </div>
                            </div>
                            <div class="allOptions">
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-md-4" style="padding-right: 5px">
                                        @Html.DropDownList("AllCities", new SelectList(Model.IndexFilterOptions.AllCities, "Value", "Text"), new {@class = "menu-item-input"})
                                    </div>
                                    <div class="col-md-4" style="padding-right: 5px"></div>
                                    <div class="col-md-4" style="padding-right: 5px">
                                        <button class="menu-item-button">Wyczyść filtry</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-2" style="color: white">Cena:</div>
                                        <div class="col-md-10" style="margin-top: 5px">
                                            <div id="slider-range"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-right: 5px">
                                    <button type="submit" class="menu-item-button">Pokaż pasujące oferty</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-10" style="text-align: center;">
                                            <input type="text" id="amount" readonly style="border: 0; color: white; font-weight: bold; background-color: #b31621; text-align: center; width: 100%">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            @Html.Hidden("PriceFrom", "20000", new {@id = "PriceFrom"})
                            @Html.Hidden("PriceTo", "2000000", new {@id = "PriceTo"})
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.AdvertList != null)
    {
        <div class="row" style="margin-top: 20px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 found-adverts-count">
                            <div class="col-md-6">
                                Znaleziono <b>@Model.AdvertList.TotalItemCount</b> pasujące oferty.
                            </div>
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="col-md-9" style="text-align: right; font-size: 12px; padding-top:3px">Strona @Model.AdvertList.PageNumber z @Model.AdvertList.PageCount</div>
                                <div class="col-md-3" style="text-align: center">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3" style="padding: 0">
                                        @if (Model.AdvertList.PageNumber > 1)
                                        {
                                            <a style="color:white" href="@Url.Action("Index", "Home", new {page = Model.IndexFiltred.Page - 1, adType = Model.IndexFiltred.AdType, flatCities = Model.IndexFiltred.FlatCities, flatRooms = Model.IndexFiltred.FlatRooms, houseCities = Model.IndexFiltred.HouseCities, landCities = Model.IndexFiltred.LandCities, allCities = Model.IndexFiltred.AllCities, priceFrom = Model.IndexFiltred.PriceFrom, priceTo = Model.IndexFiltred.PriceTo, sortOptions = Model.IndexFiltred.SortOption})">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                        }
                                    </div>
                                    <div class="col-md-3"style="padding: 0; padding-left:5px">
                                        @if (Model.AdvertList.PageNumber < Model.AdvertList.PageCount)
                                        {
                                            <a style="color:white" href="@Url.Action("Index", "Home", new {page = Model.IndexFiltred.Page + 1, adType = Model.IndexFiltred.AdType, flatCities = Model.IndexFiltred.FlatCities, flatRooms = Model.IndexFiltred.FlatRooms, houseCities = Model.IndexFiltred.HouseCities, landCities = Model.IndexFiltred.LandCities, allCities = Model.IndexFiltred.AllCities, priceFrom = Model.IndexFiltred.PriceFrom, priceTo = Model.IndexFiltred.PriceTo, sortOptions = Model.IndexFiltred.SortOption})">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        foreach (var advert in Model.AdvertList)
        {
            <div class="row" style="margin-top: 20px">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 short-advert-label">
                                @(advert.ToLet ? "Do wynajęcia" : "Do sprzedania")
                            </div>
                            <div class="col-md-9 short-advert-title">
                                @EnumNameHelper.GetAdType(advert.AdType), @advert.City, @advert.Area m<sup>2</sup>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 short-advert-body">
                                <div class="col-md-3" style="padding: 0; padding-right: 15px">
                                    <div class="short-advert-photo">
                                        <img src="http://nieruchomoscijeleniogorskie.somee.com/Content/img/the-palace-of-culture.jpg" style="width: 100%; border: 1px solid white" />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="short-advert-price">
                                        @advert.Price PLN <small class="price">(@(advert.Price/advert.Area) zł/m<sup>2</sup>)</small>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="short-advert-description">
                                                @advert.Description
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="text-align: right">
                                    <div class="row">
                                        <span class="glyphicon glyphicon-camera" style="font-size: 1.5em"></span>
                                    </div>
                                    <div class="row" style="margin-top: 5px">
                                        <span class="glyphicon glyphicon-map-marker" style="font-size: 1.5em"></span>
                                    </div>
                                    <div class="row" style="margin-top: 5px">
                                        <span class="glyphicon glyphicon-user" style="font-size: 1.5em"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 short-advert-social">
                                <div class="row">
                                    Okazja? przekaż dalej!
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="col-md-3" style="padding:0">
                                        <img src="/Content/img/icons/social-31-facebook.png"/>
                                    </div>
                                        <div class="col-md-3" style="padding:0">
                                            <img src="/Content/img/icons/social-32-twitter.png" />
                                        </div>
                                        <div class="col-md-3" style="padding:0">
                                            <img src="/Content/img/icons/social-3-google-plus.png" />
                                        </div>
                                        <div class="col-md-3" style="padding:0">
                                            <img src="/Content/img/icons/social-40-e-mail.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="short-advert-number">Numer oferty: <b>@advert.Number</b></div>
                                    </div>
                                    <div class="col-md-6" style="text-align: right">
                                        <div class="short-advert-date">Data dodania: <b>@advert.CreatedAt.ToShortDateString()</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row" style="margin-top: 20px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 found-adverts-count">
                            <div class="col-md-6">
                                Znaleziono <b>@Model.AdvertList.TotalItemCount</b> pasujące oferty.
                            </div>
                            <div class="col-md-6" style="padding-right:0px">
                                <div class="col-md-9" style="text-align: right; font-size: 12px; padding-top:3px">Strona @Model.AdvertList.PageNumber z @Model.AdvertList.PageCount</div>
                                <div class="col-md-3" style="text-align: center">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-3" style="padding: 0">
                                        @if (Model.AdvertList.PageNumber > 1)
                                        {
                                            <a style="color:white" href="@Url.Action("Index", "Home", new {page = Model.IndexFiltred.Page - 1, adType = Model.IndexFiltred.AdType, flatCities = Model.IndexFiltred.FlatCities, flatRooms = Model.IndexFiltred.FlatRooms, houseCities = Model.IndexFiltred.HouseCities, landCities = Model.IndexFiltred.LandCities, allCities = Model.IndexFiltred.AllCities, priceFrom = Model.IndexFiltred.PriceFrom, priceTo = Model.IndexFiltred.PriceTo, sortOptions = Model.IndexFiltred.SortOption})">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                        }
                                    </div>
                                    <div class="col-md-3" style="padding: 0; padding-left:5px">
                                        @if (Model.AdvertList.PageNumber < Model.AdvertList.PageCount)
                                        {
                                            <a style="color:white" href="@Url.Action("Index", "Home", new {page = Model.IndexFiltred.Page + 1, adType = Model.IndexFiltred.AdType, flatCities = Model.IndexFiltred.FlatCities, flatRooms = Model.IndexFiltred.FlatRooms, houseCities = Model.IndexFiltred.HouseCities, landCities = Model.IndexFiltred.LandCities, allCities = Model.IndexFiltred.AllCities, priceFrom = Model.IndexFiltred.PriceFrom, priceTo = Model.IndexFiltred.PriceTo, sortOptions = Model.IndexFiltred.SortOption})">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
        </div>

        <link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" />
        <script src="/Scripts/jquery-1.10.2.js"></script>
        <script src="/Scripts/jquery-ui-1.11.2.js">

        </script>
        <script>
    $("#AdType").on("change", function () {
        var val = $(this).val();

        if (val === "Flat") {
            $(".flatOptions").show();
            $(".houseOptions").hide();
            $(".landOptions").hide();
            $(".allOptions").hide();
        } else if (val === "House") {
            $(".flatOptions").hide();
            $(".houseOptions").show();
            $(".landOptions").hide();
            $(".allOptions").hide();
        } else if (val === "Land") {
            $(".flatOptions").hide();
            $(".houseOptions").hide();
            $(".allOptions").hide();
            $(".landOptions").show();
        } else {
            $(".flatOptions").hide();
            $(".houseOptions").hide();
            $(".allOptions").show();
            $(".landOptions").hide();
        }
    });

    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 20000,
            max: 2000000,
            values: [@(Model.IndexFiltred.PriceFrom ?? 20000), @(Model.IndexFiltred.PriceTo ?? 2000000)],
                    slide: function (event, ui) {
                        $("#amount").val("PLN " + ui.values[0].formatMoney(0, "", " ") + " - PLN " + ui.values[1].formatMoney(0, "", " "));
                        $("#PriceFrom").val(ui.values[0]);
                        $("#PriceTo").val(ui.values[1]);
                    }
                });
                $("#amount").val("PLN " + $("#slider-range").slider("values", 0).formatMoney(0, "", " ") +
                    " - PLN " + $("#slider-range").slider("values", 1).formatMoney(0, "", " "));
                $("#PriceFrom").val(ui.values[0]);
                $("#PriceTo").val(ui.values[1]);
            });


            Number.prototype.formatMoney = function (places, symbol, thousand, decimal) {
                places = !isNaN(places = Math.abs(places)) ? places : 2;
                symbol = symbol !== undefined ? symbol : "$";
                thousand = thousand || ",";
                decimal = decimal || ".";
                var number = this,
                    negative = number < 0 ? "-" : "",
                    i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
                    j = (j = i.length) > 3 ? j % 3 : 0;
                return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
            };
        </script>
