@using System.Web.UI.WebControls
@using Models.EntityModels

@model Models.ViewModels.AddClatViewModel

@{
    ViewBag.Title = "AddClat";
}



<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-center-panel" style="margin-left: 15px">
        @Html.Partial("AdminMenu")

        @if (@Model.CompartmentsList.Count < 1)
        {
            <br/>
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Błąd:</span>
               Brak pustych przedziałów do wprowadzenia, postępuj wg instrukcji!
            </div>
        }
        else
        {

            <h4>Przedzialy puste do wprowadzenia</h4>
            
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        Od
                    </th>
                    <th>
                        Do
                    </th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.CompartmentsList)
                    {
                        <tr>
                            <td>
                                @Html.Label("przedzial:")
                                </td>
                            <td>
                                <div>
                                    @x.From
                                </div>
                           </td>

                            <td>
                                <div>
                                    @x.To
                                </div>
                            </td>
                        </tr>
                    }
               </tbody>
            </table>
        
        if (!ViewData.ModelState.IsValid)
        {
            <div class="row" style="padding: 10px">
                <div class="panel panel-danger">
                    <button type="button" class="close" data-dismiss="alert" style="margin-right:5px; margin-top: 5px">×</button>
                    <div class="panel-heading">
                        Błąd
                    </div>
                    <div class="panel-body">
                        @Html.ValidationSummary()
                    </div>
                </div>
            </div>
        }
        
        <h4>Dodaj przedział taksy notarialnej</h4>
        { Html.RenderPartial("AddClatTable", Model.Clat); }
        }

    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="col-md-6 col-md-push-6">
            <div class="col-md-12" style="text-align: right">
                @Html.ActionLink("Wróć do listy", "Settings")
            </div>
        </div>

    </div>
</div>
            

<script type="text/javascript">
    $(".close").on("click", function () {
        $("#danger-panel")[0].remove();
    });
</script>