@using System.Data.SqlTypes
@using nieruchomości.Helpers
@using PagedList.Mvc
@model PagedList.PagedList<Models.ViewModels.AdminAdvertToShow>
<style type="text/css">
    label {
        font-size: small;
        font-weight: normal;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .pull-right {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
</style>

<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-center-panel" style="margin-left: 15px">
        @Html.Partial("AdminMenu")
        @if (HttpContext.Current.Request.Params.Get("changed") == "True")
        {
            var hide = HttpContext.Current.Request.Params.Get("hide");
            if (hide == "True")
            {
                <div class="alert alert-dismissable alert-default" style="margin: 10px; background-color: #798d8f; border-color: #74898a; color: white">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <div>
                        <strong>Ogłoszenie zostało ukryte!</strong><br />
                        Od tej pory nie będzie widoczne na liście nieruchomości.
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-dismissable alert-info" style="margin: 10px">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <div>
                        <strong>Ogłoszenie zostało odkryte!</strong><br />
                        Od tej pory będzie widoczne na liście nieruchomości.
                    </div>
                </div>
            }
        }
        <h4>Znajdź ogłoszenie</h4>
        <div class="row" style="margin-top:5px">
            <div class="col-md-12">
                @using (Html.BeginForm("AdList", "Admin", FormMethod.Get))
                {
                    <input type="hidden" name="search" value="true" />
                    <div class="form-group-sm">
                        <div class="row">
                            <div class="col-md-2" style="font-size:small; font-weight:bold">
                                Wyszukiwana fraza:
                            </div>
                            <div class="col-md-2" style="font-size:small; font-weight:bold">
                                Pracownik:
                            </div>
                            <div class="col-md-2" style="font-size:small; font-weight:bold">
                                Widoczność:
                            </div>
                            <div class="col-md-3" style="font-size:small; font-weight:bold">
                                Data (od-do):
                            </div>
                            <div class="col-md-3" style="font-size:small; font-weight:bold">
                                Rodzaj nieruchomości:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextBox("key", null, null, new { @class = "form-control", @placeholder = "Fraza", @style = "font-size:12px" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.TextBox("worker", null, null, new { @class = "form-control", @placeholder = "Imię i/lub nazwisko", @style = "font-size:12px" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><input type="radio" name="showHidden" value="false" checked />Aktywne</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><input type="radio" name="showHidden" value="true" />Ukryte</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="date" name="dateFrom" class="form-control" id="dateFrom" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" oninvalid="setCustomValidity('Wprowadź datę w formacie YYYY-MM-DD')" oninput="setCustomValidity('')" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="date" name="dateTo" class="form-control" id="dateTo" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" oninvalid="setCustomValidity('Wprowadź datę w formacie YYYY-MM-DD')" oninput="setCustomValidity('')" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pull-right">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><input type="checkbox" name="type" value="Flat" />Mieszkanie</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><input type="checkbox" name="type" value="House" />Dom</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label><input type="checkbox" name="type" value="Land" />Działka</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding-right:15px; text-align:left; margin-top:5px">
                                        <button type="submit" class="btn btn-default btn-xs">Wyszukaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <h4>Lista nieruchomości</h4>
        <div class="row">
            <div class="col-md-12">
                @if (HttpContext.Current.Request.Params.Get("hidden") == "True")
                {
                    @Html.ActionLink("Pokaż aktywne", "AdList", "Admin", null, new { @class = "btn btn-default btn-xs" })
                }
                else
                {
                    @Html.ActionLink("Pokaż ukryte", "AdList", "Admin", new { hidden = true }, new { @class = "btn btn-default btn-xs" })
                }

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="font-size: small">
                @using (Html.BeginForm("ChangeAd", "Admin"))
                {
                    <table class="table" style="font-size: 11px">
                        <thead>
                            <tr>
                                <th style="width: 12%">
                                    <button type="submit" class="btn btn-primary btn-xs" style="width: 100%" id="submit">Wykonaj</button>
                                    @if (HttpContext.Current.Request.Params.Get("hidden") == "True")
                                    {
                                        <label style="font-size: 11px; font-weight: bold; margin-bottom: 0"><input type="radio" checked name="action" value="true" /> Pokaż</label>
                                    }
                                    else
                                    {
                                        <label style="font-size: 11px; font-weight: bold; margin-bottom: 0"><input type="radio" checked name="action" value="true" /> Ukryj</label>
                                    }
                                    <label style="font-size: 11px; font-weight: bold; margin-bottom: 0"><input type="radio" name="action" value="false" id="delete"/> Usuń</label>
                                </th>
                                <th>
                                    Data dodania
                                </th>
                                <th>
                                    Rodzaj
                                </th>
                                <th>
                                    Tytuł
                                </th>
                                <th>
                                    Miasto
                                </th>
                                <th>
                                    Osoba prowadząca
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ad in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="numbers" value="@ad.Number" />
                                    </td>
                                    <td>@ad.CreatedAt.ToShortDateString()</td>
                                    <td>@EnumNameHelper.GetAdType(ad.AdType)</td>
                                    <td>@ad.Title</td>
                                    <td>@ad.City</td>
                                    <td>@String.Format("{0}", (ad.Worker != null) ? ad.Worker.FullName : "---")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <small>Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount</small>
                <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("AdList", new { page, changed = ViewBag.changed, hide = ViewBag.hide, hidden = ViewBag.hidden, search = ViewBag.Search, key = ViewBag.key, worker = ViewBag.worker, showHidden = ViewBag.showHidden, dateFrom = ViewBag.dateFrom, dateTo = ViewBag.dateTo, type = ViewBag.type }))</div>
            </div>
        </div>
    </div>
</div>

<script language="javascript" src="/Scripts/jquery-1.10.2.js"></script>

<script language="javascript">
    $("#dateFrom").on("change", function () {
        var from = new Date($("#dateFrom").val());
        var to = new Date($("#dateTo").val());
        if (from > to) {
            alert("Data początkowa nie może być większa od końcowej!");
            $("#dateFrom").val("");
        }
    });

    $("#dateTo").on("change", function () {
        var from = new Date($("#dateFrom").val());
        var to = new Date($("#dateTo").val());
        if (from > to) {
            alert("Data początkowa nie może być większa od końcowej!");
            $("#dateTo").val("");
        }
    });

    $("#dateFrom").val("2014-01-01");
    var today = new Date();
    var year = today.getFullYear();
    var month = today.getUTCMonth() + 1;
    var day = today.getUTCDate();
    $("#dateTo").val(year + "-" + month + "-" + day);

    $("#submit").on("click",function() {
        if ($("#delete")[0].checked) {
            return confirm("Na pewno chcesz usunąć te ogłoszenia?");
        };
    });
</script>

