@using System.Data.SqlTypes
@using PagedList.Mvc
@model PagedList.PagedList<Models.EntityModels.Mail>

<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-center-panel" style="margin-left: 15px">
        @Html.Partial("AdminMenu")
        <h4>Lista wiadomości</h4>
        <div class="row">
            <div class="col-md-12" style="font-size: small">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Data dodania
                            </th>
                            <th>
                                Imię i nazwisko
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Nieruchomość
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ad in Model.OrderByDescending(x => x.CreatedAt))
                        {
                            <tr>
                                <td style="vertical-align:middle">@ad.CreatedAt.ToShortDateString()</td>
                                <td style="vertical-align:middle">@ad.FullName</td>
                                <td style="vertical-align:middle">@ad.Email</td>
                                <td style="vertical-align: middle">
                                    @if (String.IsNullOrEmpty(ad.OrderLink))
                                    {
                                        <span class="glyphicon glyphicon-remove"></span>
                                    }
                                    else
                                    {
                                        <span class="glyphicon glyphicon-ok"></span>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-success btn-xs" href="/Admin/Message?id=@ad.Id">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </a>
                                    <a class="btn btn-danger btn-xs" href="/Admin/DeleteMessage?id=@ad.Id" onclick="return confirm('Na pewno usunąć tą wiadomość?');">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                    <a class="btn btn-primary btn-xs" href="mailto:@(ad.Email)">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <small>Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount</small>
                <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("Messages", new { page }))</div>
            </div>
        </div>
    </div>
</div>