@using System.Data.SqlTypes
@using Microsoft.Ajax.Utilities
@using Models.ViewModels
@using nieruchomości.Helpers
@using PagedList.Mvc
@model PagedList.PagedList<Models.EntityModels.Offer>




<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-center-panel" style="margin-left: 15px">
        @Html.Partial("AdminMenu")
        <h4>Lista ofert</h4>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var msg in Model)
            {
                <div class="panel @((msg.Status == OfferStatus.New)?"panel-default":(msg.Status == OfferStatus.Accepted)?"panel-success":"panel-danger")">
                    <div class="panel-heading" role="tab" id="heading@(msg.Id)">
                        <div class="panel-title" style="font-size:14px">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse@(msg.Id)" aria-expanded="true" aria-controls="collapse@(msg.Id)">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">@msg.CreatedAt.ToShortDateString()</div>
                                            <div class="col-md-3">@msg.FullName</div>
                                            <div class="col-md-3">@EnumNameHelper.GetAdType(msg.AdType)</div>
                                            <div class="col-md-2">@msg.City</div>
                                            <div class="col-md-2" style="text-align:right">
                                                <a class="btn btn-success btn-xs" href="/Admin/Offer?id=@msg.Id" data-toggle="tooltip" data-placement="top" title="Podgląd">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                </a>
                                                <a class="btn btn-danger btn-xs" href="/Admin/DeleteOffer?id=@msg.Id" onclick="return confirm('Na pewno usunąć ofertę użytkownika?');" data-toggle="tooltip" data-placement="top" title="Usuń">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </a>
                                                <a class="btn btn-primary btn-xs" href="mailto:@(msg.Email)" data-toggle="tooltip" data-placement="top" title="Odpowiedz">
                                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="collapse@(msg.Id)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@(msg.Id)">
                        <div class="panel-body">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="custom-advert-panel-title">
                                                Dane klienta
                                            </div>
                                            <div class="custom-advert-panel-body">
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="col-md-6">
                                                        <small>Imię i nazwisko:</small><br />
                                                        @String.Format("{0}", (msg.FullName.IsNullOrWhiteSpace()) ? "---" : msg.FullName)
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small>Email:</small><br />
                                                        @String.Format("{0}", (msg.Email.IsNullOrWhiteSpace()) ? "---" : msg.Email)
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="col-md-6">
                                                        <small>Numer telefonu:</small><br />
                                                        @String.Format("{0}", (msg.PhoneNumber.IsNullOrWhiteSpace()) ? "---" : msg.PhoneNumber)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="custom-advert-panel-title">
                                                Informacje podstawowe
                                            </div>
                                            <div class="custom-advert-panel-body">
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="col-md-6">
                                                        <small>Cena:</small><br />
                                                        @String.Format("{0}", (msg.Price.IsNullOrWhiteSpace()) ? "---" : msg.Price + " zł")
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small>Nieruchomość:</small><br />
                                                        @msg.AdType
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="col-md-6">
                                                        <small>Miasto:</small><br />
                                                        @String.Format("{0}", (msg.City.IsNullOrWhiteSpace()) ? "---" : msg.City)
                                                    </div>
                                                    <div class="col-md-6">
                                                        <small>Lokalizacja:</small><br />
                                                        @String.Format("{0}", (msg.Location.IsNullOrWhiteSpace()) ? "---" : msg.Location)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="custom-advert-panel-title">
                                                Opis
                                            </div>
                                            <div class="custom-advert-panel-body">
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="col-md-12" style="word-wrap: break-word">
                                                        @String.Format("{0}", (msg.Description.IsNullOrWhiteSpace()) ? "---" : msg.Description)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @Html.ActionLink("Akceptuj", "Offer", new { id = msg.Id, status = OfferStatus.Accepted }, new { @class = "btn btn-success" })
                                            @Html.ActionLink("Odrzuć", "Offer", new { id = msg.Id, status = OfferStatus.Rejected }, new { @class = "btn btn-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
            <small>Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount</small>
            <div style="text-align:center">@Html.PagedListPager(Model, page => Url.Action("Offers", new { page }))</div>
        </div>       
    </div>
</div>

<script language="javascript" src="/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>