@using System.Diagnostics
@using Models.EntityModels
@model Models.ViewModels.SettingsViewModel


@{
    ViewBag.Title = "Settings";

    
    var vatClat = Model.CostPropertiesList.FirstOrDefault(x => x.Type == PropertyType.VatClat);
    var vatNotary = Model.CostPropertiesList.FirstOrDefault(x => x.Type == PropertyType.VatNotary);
    var mr = Model.CostPropertiesList.FirstOrDefault(x => x.Type == PropertyType.Mr);
    var actPagePrice = Model.CostPropertiesList.FirstOrDefault(x => x.Type == PropertyType.ActPagePrice);
    var agencyCommissionPercent = Model.CostPropertiesList.FirstOrDefault(x => x.Type == PropertyType.AgencyCommissionPercent);
    var courtFee = Model.CostPropertiesList.FirstOrDefault(x => x.Type == PropertyType.CourtFee);
    var vatAgencyCommission = Model.CostPropertiesList.FirstOrDefault(x => x.Type == PropertyType.VatAgencyCommission);


    var clatList = Model.ClatList.ToList();
    //var costPropertyList = Model.CostPropertiesList.ToList();
    
    }

<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-center-panel" style="margin-left: 15px">
        @Html.Partial("AdminMenu")
        <h4>Ustawienia</h4>
        
        <table>
            <thead>
                <tr>
                    <th>
                        From
                    </th>                    
                    <th>
                        To
                    </th>                    
                    <th>
                        Percent
                    </th>                    
                    <th>
                        Max
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.ClatList)
                {
                    using (Html.BeginForm("EditClat", "Admin"))
                    {
                        <tr>
                            @Html.Hidden("Id", x.Id)
                            <td>
                                @Html.TextBox("From", x.From)
                            </td>
                            <td>
                                @if (x.To == Double.MaxValue)
                                {
                                    @Html.TextBox("To", "Max")
                                }
                                else
                                {
                                    @Html.TextBox("To", x.To)
                                }
                                
                            </td>
                            <td>
                                @Html.TextBox("Percent", x.Percent)
                            </td>
                            <td>
                                @Html.TextBox("Max", x.Max)
                            </td>
                            <td>
                                @Html.TextBox("Price", x.Price)
                            </td>
                            <td>
                                <button type="submit">Ok</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
