@using System.Collections.Concurrent
@using System.Diagnostics
@using System.Web.Optimization
@using Models.EntityModels
@model Models.ViewModels.SettingsViewModel


@{
    ViewBag.Title = "Settings";
}


<div class="row" style="margin-right: 15px">
    <div class="col-md-12 custom-center-panel" style="margin-left: 15px">
        @Html.Partial("AdminMenu")
        <h4>Ustawienia</h4>



        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Od
                </th>
                <th>
                    Do
                </th>
                <th>
                    Procent
                </th>
                <th>
                    Max
                </th>
                <th>
                    Cena
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var x in Model.ClatList)
            {
                using (Html.BeginForm("EditClat", "Admin"))
                {
                    <tr>
                        @Html.Hidden("Id", x.Id)
                        <td>
                            @Html.TextBox("From", x.From, new {style = "max-width: 100px;"})
                        </td>
                        <td>
                            @if (x.To == Double.MaxValue)
                            {
                                @Html.TextBox("To", "Max", new {style = "max-width: 100px;"})
                            }
                            else
                            {
                                @Html.TextBox("To", x.To, new {style = "max-width: 100px;"})
                            }

                        </td>
                        <td>
                            @Html.TextBox("Percent", x.Percent, new {style = "max-width: 100px;"})
                        </td>
                        <td>
                            @if (x.Max == 0)
                            {
                                @Html.TextBox("Max", "Brak", new {style = "max-width: 100px;"})
                            }
                            else
                            {
                                @Html.TextBox("Max", x.Max, new {style = "max-width: 100px;"})
                            }
                        </td>
                        <td>
                            @Html.TextBox("Price", x.Price, new {style = "max-width: 100px;"})
                        </td>
                        <td style="text-align: center">
                            <button type="submit" class="btn btn-primary btn-xs" onclick=" return confirm('Na pewno edytować?') ">Edytuj</button>
                            @Html.ActionLink("Usuń", "DeleteSetting", new {id = x.Id}, new {@class = "btn btn-info btn-xs", @onclick = "return confirm('Na pewno usunąć?');"})
                        </td>
                    </tr>

                }
            }
            </tbody>

            @Html.ActionLink("Dodaj nowe ustawienie", "AddSetting", "Admin", new { @class = "btn btn-info btn-xs" })
        </table>

        <br>
        <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Wartość
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.CostPropertiesList)
            {
                using (Html.BeginForm("EditCostPropList", "Admin"))
                {
                    <tr>
                        @Html.Hidden("Id", item.Id)
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.TextBox("Value", item.Value, new {style = "max-width: 100px;"})
                        </td>
                        <td style="text-align: center">
                            <button type="submit" class="btn btn-primary btn-xs" onclick=" return confirm('Na pewno edytować?') ">Edytuj</button>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

